@model GarimaTask.Models.StudentVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-bordered table-striped table-hover">
    <thead class="bg-primary">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.student.RollNo)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.student.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student.Subject1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student.Subject2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.student.Subject3)
            </th>


            <th> Edit</th>

            <th> Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StudentsList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RollNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject3)
                </td>

                <td>
                     <a href="#" class="edit-button" data-id="@item.Id">Edit</a>
                </td>
                <td>                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id" onclick="return window.alert('Are You Sure ?')">Delete</a></td>

            </tr>
        }
    </tbody>
</table>


<h4 class="align-content-center">Student Details</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="student.Id" id= "Id"class="form-control" />

            <div class="form-group">
                <label asp-for="student.Name" class="control-label"></label>
                <input asp-for="student.Name" id="Name" class="form-control" />
                <span asp-validation-for=" student.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.Address" class="control-label"></label>
                <textarea asp-for="student.Address" id="Address" class="form-control"></textarea>
                <span asp-validation-for="student.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.City" class="control-label"></label>
                <select asp-for="student.City" class="form-control" asp-items="@Model.cities"
                    >
                <option selected disabled> select City</option></select>
                <span asp-validation-for="student.City" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="student.State" class="control-label"></label>
                <select asp-for="student.State" class="form-control" asp-items="@Model.states"
                       >
                    <option selected disabled> select states</option>
                </select>
                <span asp-validation-for="student.State" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="student.RollNo" class="control-label"></label>
                <input asp-for="student.RollNo" class="form-control" />
                <span asp-validation-for="student.RollNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.Gender" class="control-label"></label><br />
                <input type="radio" asp-for="student.Gender" id="gender" value="Male" /> Male
                <input type="radio" asp-for="student.Gender" value="Female" /> Female
                <span asp-validation-for="student.Gender" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="student.Email" class="control-label"></label>
                <input asp-for="student.Email" id="email" class="form-control" />
                <span asp-validation-for="student.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.Mobile" class="control-label"></label>
                <input asp-for="student.Mobile" id="mobile" class="form-control" />
                <span asp-validation-for="student.Mobile" class="text-danger"></span>
            </div>
            <div>
                <h3>Subject List</h3>
            </div>
            <div class="form-group">
                <label asp-for="student.Subject1" class="control-label"></label>
                <input asp-for="student.Subject1" id="subject1" class="form-control" />
                <span asp-validation-for="student.Subject1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.Subject2" class="control-label"></label>
                <input asp-for="student.Subject2" id="subject2" class="form-control" />
                <span asp-validation-for="student.Subject2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="student.Subject3" class="control-label"></label>
                <input asp-for="student.Subject3" id="subject3"class="form-control" />
                <span asp-validation-for="student.Subject3" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a type="submit" value="Update" class="btn btn-warning" asp-route-id="2" asp-action="Edited">Update</a>
                <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
            </div>
        </form>
    </div>
</div>

<div>
    <a  class="btn btn-secondary" asp-action="Index">Back to List</a>
</div>


@section Scripts {
      @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {

            $(".edit-button").click(function () {
                var itemId = $(this).data("id");

                // Assuming you have a function to retrieve the item details by Id
                var itemDetails = getItemDetailsById(itemId);
                var resultData = itemDetails.result;

                $("#Id").val(resultData.id);
                $("#Name").val(resultData.name);
                $("#Address").val(resultData.address);
                $("#city").val(resultData.city);
                $("#state").val(resultData.state);
                $("#rollNo").val(resultData.rollNo);
                $("#gender").val(resultData.gender);
                $("#email").val(resultData.email);
                $("#mobile").val(resultData.mobile);
                $("#subject1").val(resultData.subject1);
                $("#subject2").val(resultData.subject2);
                $("#subject3").val(resultData.subject3);
               
              
            });
        });

      function getItemDetailsById(itemId) {
          debugger;
    var itemDetails;

    $.ajax({
        type: "GET",
                url: "/Student/Edit", // Replace YourController with the actual name of your controller
        data: { id: itemId },
        async: false, // Ensure the request is synchronous to return the itemDetails
        success: function(result) {
            console.log(result);
            itemDetails = result;
        },
        error: function(error) {
            console.error("Error retrieving item details:", error);
        }
    });

    return itemDetails;
}

    function clearForm() {
      
       
            $("#Name").val('');
            $("#Address").val('');
            $("#city").val('');
            $("#state").val('');
            $("#rollNo").val('');
            $("#email").val('');
            $("#mobile").val('');
            $("#subject1").val('');
            $("#subject2").val('');
            $("#subject3").val('');
    }



    </script>
}

